__pycache__/

.pytest_cache/

.ipynb_checkpoints

profile_default/
ipython_config.py

__pypackages__/

.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.mypy_cache/
.dmypy.json
dmypy.json

.idea/

*.aux
*.log
*.pdf
filled_template.tex

src/synth/data/